<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Com.Flo.Testclasses.Requirements.Login.Login"/>
       <class name="Com.Flo.Testclasses.Requirements.Corporate.Create_New_Requisite"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->